
<span class='endpoint'>
  <%= @facade.describe_forecast %>
</span>

<span class='endpoint'>
  <%= @facade.describe_forecast_gifs %>
</span>

<span class='endpoint'>
  <%= @facade.describe_new_user %>
</span>

<span class='endpoint'>
  <%= @facade.describe_login %>
</span>

<span class='endpoint'>
  <%= @facade.describe_new_favorite %>
</span>

<span class='endpoint'>
  <%= @facade.describe_favorites %>
</span>

<span class='endpoint'>
  <%= @facade.describe_delete_favorite %>
</span>
